.header--container {
  padding: 15px 10px;
  background-color: #c8b6ff;
  box-shadow: 0 0 5px #c8b6ff;
  position: sticky;
  top: 0px;
  z-index: 1000;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 20px;
}
