.nav-bar--container {
  /* width: 150px; */
}

.nav-bar--container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar--container ul li {
  margin: 0 5px;
  padding: 10px 15px;
  border: 2px solid #9f86c0;
  border-radius: 50px;
  /* min-width: 100px; */
  width: 150px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  transition: background-color 0.6s;
}

.nav-bar--container ul li:hover {
  background-color: #9f86c0;
  color: white;
}
