.nav-bar--container {
  /* width: 150px; */
}

.nav-bar--container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar--container ul li {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #9f86c0;
  border-radius: 50px;
  min-width: 100px;
}
