.App {
  text-align: center;
  /* background-color: #edf6f9; */
}

.parlour-and-services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.parlour-img-holder {
  width: 50%;
}

.parlour-img-holder img {
  width: 75%;
  max-height: 100%;
}
